html {
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul {
    padding-left: 0px;
}

.divcontainer {
    border: solid 5px black;
    height: 70%;
    display: flex;
    flex-wrap: wrap;
}

.smalldiv {
    display: flex;
    flex: 1;
    flex-direction: column;
}
